@{
    Layout = "~/Areas/User/Views/AccountLayout/Index.cshtml";
}

@inject UserManager<AppUser> userManager;
@inject SignInManager<AppUser> signInManager;

@{
    var mainColor = "#212529";
    var mainTitleColor = "#fff";
    var mainTitleBackgroundColor = "#F49301";
    AppUser appUser = await userManager.FindByNameAsync(User.Identity.Name);
    if (signInManager.IsSignedIn(User))
    {
        if (appUser is not null)
        {
            if (User.IsInRole("User"))
            {
                if (appUser.IsDark)
                {
                    mainColor = "#fff";
                    mainTitleColor = "#fff";
                    mainTitleBackgroundColor = "#B12103";
                }
            }
        }
    }
}

<div class="col">
    <h1 style="padding: 15px; background-color:@mainTitleBackgroundColor; color:@mainTitleColor; font-size:40px; font-family:'Comic Sans MS'; text-align:center">mbf Hamburger User Settings Screen</h1>
    <br />
    <h1 style="padding: 10px; color:@mainColor; font-size:15px; font-family:'Comic Sans MS'; text-align:start">Name Surname   =>   @appUser.FirstName @appUser.LastName</h1>
    <br />
    <h1 style="padding: 10px; color:@mainColor; font-size:15px; font-family:'Comic Sans MS'; text-align:start">Username   =>   @appUser.UserName</h1>
    <br />
    <h1 style="padding: 10px; color:@mainColor; font-size:15px; font-family:'Comic Sans MS'; text-align:start">Address   =>   @appUser.Address</h1>
    <br />
    <h1 style="padding: 10px; color:@mainColor; font-size:15px; font-family:'Comic Sans MS'; text-align:start">Email Address   =>   @appUser.Email</h1>
</div>






