@model ProductListVM
@inject SignInManager<AppUser> signInManager

<style>
	#page {
		width: 100%;
		box-sizing: border-box;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: 100px auto 200px;
		grid-template-areas:
			"head head head head"
			"nav main main main"
			"foot foot foot foot";
	}

	main {
		grid-area: main;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.kutu {
		perspective: 1000px; /* 3D efekti için perspektif değeri */
		transition: transform 1s ease;
		width: 200px;
		height: auto;
		box-shadow: 5px 5px 10px orange;
		margin: 20px;
	}

	main p {
		width: 100%;
		text-align: center;
		font-size: large;
		background-color: rgb(244, 147, 1);
		color: rgb(247,244,244);
		font-family: Aclonica serif;
		font-size: 25px;
	}


	div.kutu:hover {
		transform: rotateY(360deg) scale(1.2);
	}

	.card-styles {
		width: 100%;
		height: 50px;
		background-color: darkorange;
		color: red;
		cursor: pointer;
		font-family: Aclonica serif;
	}

	.btn.btn-outline-warning:hover {
		background-color: darkorange !important;
	}
</style>
<section id="page">
	<main>
		<p>Menus</p>
		@foreach (var item in Model.Menus)
		{
			<div class="kutu">
				<img src="/ProductImages/Menu1/@item.Photo" width="90" height="140" style="width: 100%" />
				<h6 style="text-align: center; font-family: Aclonica serif;">@item.Name</h6>
				<p>@item.Price ₺</p>
				<p>
					<h6 style="text-align: center; font-family: Aclonica serif; background-color: rgb(244, 147, 1); color: rgb(247,244,244);">
						@item.Hamburger.Name, @item.Fries.Name, @item.Drink.Name
					</h6>
				</p>
				<p>
					@if (User.IsInRole("User"))
					{
					<h6>
						<a class="btn btn-outline-warning button-container card-styles" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-name="menu" value="Add to Carts">Add to Carts</a>
					</h6>
					}
				</p>
			</div>
		}
		<p>Hamburgers</p>
		@foreach (var item in Model.Hamburgers)
		{
			<div class="kutu">
				<img src="/ProductImages/Hamburger1/@item.Photo" width="90" height="140" style="width: 100%" />
				<h6 style="text-align: center; font-family: Aclonica serif;">@item.Name</h6>
				<p>@item.Price ₺</p>
				<p>
					@if (User.IsInRole("User"))
					{
						<h6>
							<a class="btn btn-outline-warning button-container card-styles" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-name="hamburger" value="Add to Carts">Add to Carts</a>
						</h6>
					}
				</p>
			</div>
		}
		<p>Frieses</p>
		@foreach (var item in Model.Frieses)
		{
			<div class="kutu">
				<img src="/ProductImages/Fries1/@item.Photo" width="90" height="140" style="width: 100%" />
				<h6 style="text-align: center; font-family: Aclonica serif;">@item.Name</h6>
				<p>@item.Price ₺</p>
				<p>
					@if (User.IsInRole("User"))
					{
						<h6>
							<a class="btn btn-outline-warning button-container card-styles" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-name="fries" value="Add to Carts">Add to Carts</a>
						</h6>
					}
				</p>
			</div>
		}
		<p>Drinks</p>
		@foreach (var item in Model.Drinks)
		{
			<div class="kutu">
				<img src="/ProductImages/Drink/@item.Photo" width="90" height="140" style="width: 100%" />
				<h6 style="text-align: center; font-family: Aclonica serif;">@item.Name</h6>
				<p>@item.Price ₺</p>
				<p>
					@if (User.IsInRole("User"))
					{
						<h6>
							<a class="btn btn-outline-warning button-container card-styles" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-name="drink" value="Add to Carts">Add to Carts</a>
						</h6>
					}
				</p>
			</div>
		}
		<p>Desserts</p>
		@foreach (var item in Model.Desserts)
		{
			<div class="kutu">
				<img src="/ProductImages/Dessert1/@item.Photo" width="90" height="140" style="width: 100%" />
				<h6 style="text-align: center; font-family: Aclonica serif;">@item.Name</h6>
				<p>@item.Price ₺</p>
				<p>
					@if (User.IsInRole("User"))
					{
						<h6>
							<a class="btn btn-outline-warning button-container card-styles" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-name="dessert" value="Add to Carts">Add to Carts</a>
						</h6>
					}
				</p>
			</div>
		}
		<p>Sauces</p>
		@foreach (var item in Model.Sauces)
		{
			<div class="kutu">
				<img src="/ProductImages/Sauce1/@item.Photo" width="90" height="140" style="width: 100%" />
				<h6 style="text-align: center; font-family: Aclonica serif;">@item.Name</h6>
				<p>@item.Price ₺</p>
				<p>
					@if (User.IsInRole("User"))
					{
						<h6>
							<a class="btn btn-outline-warning button-container card-styles" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-name="sauce" value="Add to Carts">Add to Carts</a>
						</h6>
					}
				</p>
			</div>
		}
	</main>
</section>