@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Fries>
@inject SignInManager<AppUser> signInManager
<style>
	#page {
		width: 100%;
		box-sizing: border-box;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: 100px auto 200px;
		grid-template-areas:
			"head head head head"
			"nav main main main"
			"foot foot foot foot";
	}

	main {
		grid-area: main;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.kutu {
		perspective: 1000px; /* 3D efekti için perspektif değeri */
		transition: transform 1s ease;
		width: 200px;
		height: auto;
		box-shadow: 5px 5px 10px orange;
		margin: 20px;
	}

	main p {
		width: 100%;
		text-align: center;
		font-size: large;
		background-color: rgb(244, 147, 1);
		color: rgb(247,244,244);
		font-family: Aclonica serif;
		font-size: 25px;
	}


	div.kutu:hover {
		transform: rotateY(360deg) scale(1.2);
	}

	.card-styles {
		width: 100%;
		height: 50px;
		background-color: darkorange;
		color: red;
		cursor: pointer;
		font-family: Aclonica serif;
	}

	.btn.btn-outline-warning:hover {
		background-color: darkorange !important;
	}

	.btn.btn-outline-success:hover {
		background-color: darkolivegreen !important;
	}

	.btn.btn-outline-secondary.btn-block:hover {
		background-color: red !important;
	}

	.btn-outline-success:hover {
		background-color: darkolivegreen;
	}

	.full-width {
		width: 100vw;
		height: 100%;
		margin: 0;
		text-align: center;
		font-family: 'Aclonica', serif;
	}
</style>
<br />
<section id="page">
	<main>
		@if (TempData["Info"] is not null)
		{
			<h3 class="full-width" style="color:#B12103">@TempData["Info"]</h3>
		}
		<p class="full-width" style="font-family: 'Comic Sans MS'; font-size:30px; background-color:#B12103; padding-top:15px; padding-bottom:15px">Fries</p>
		<br /><br /><br /><br />
		<p class="full-width" style="font-family: 'Comic Sans MS'; font-size:20px">Fries - Small</p>
		@foreach (Fries fries in Model)
		{
			if (fries.Size == Hamburger_Application.Entities.Enum.Size.Small)
			{
				<div class="kutu">
					<img src="/ProductImages/Fries1/@fries.Photo" width="90" height="140" style="width: 100%" />
					<h6 style="text-align: center; font-family: 'Comic Sans MS'; font-size:20px; color:#B12103">@fries.Name-@fries.Size</h6>
					<p style="font-family: 'Comic Sans MS'; font-size:20px">@fries.Price ₺</p>
					<p>
						<h6>
							@if (User.IsInRole("Admin"))
							{
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Edit">Edit Fries</a>
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Delete">Delete Fries</a>
							}
							else if (User.IsInRole("User"))
							{
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-area="User" asp-controller="Order" asp-action="AddToCart" asp-route-id="@fries.Id" asp-route-name="fries">Add to Carts</a>
							}
						</h6>
					</p>
				</div>
			}			
		}
		<br />
		<p class="full-width" style="font-family: 'Comic Sans MS'; font-size:20px">Fries - Medium</p>
		@foreach (Fries fries in Model)
		{
			if (fries.Size == Hamburger_Application.Entities.Enum.Size.Medium)
			{
				<div class="kutu">
					<img src="/ProductImages/Fries1/@fries.Photo" width="90" height="140" style="width: 100%" />
					<h6 style="text-align: center; font-family: 'Comic Sans MS'; font-size:20px; color:#B12103">@fries.Name-@fries.Size</h6>
					<p style="font-family: 'Comic Sans MS'; font-size:20px">@fries.Price ₺</p>
					<p>
						<h6>
							@if (User.IsInRole("Admin"))
							{
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Edit">Edit Fries</a>
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Delete">Delete Fries</a>
							}
							else if (User.IsInRole("User"))
							{
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-area="User" asp-controller="Order" asp-action="AddToCart" asp-route-id="@fries.Id" asp-route-name="fries">Add to Carts</a>
							}
						</h6>
					</p>
				</div>
			}
		}
		<br />
		<p class="full-width" style="font-family: 'Comic Sans MS'; font-size:20px">Fries - Large</p>
		@foreach (Fries fries in Model)
		{
			if (fries.Size == Hamburger_Application.Entities.Enum.Size.Large)
			{
				<div class="kutu">
					<img src="/ProductImages/Fries1/@fries.Photo" width="90" height="140" style="width: 100%" />
					<h6 style="text-align: center; font-family: 'Comic Sans MS'; font-size:20px; color:#B12103">@fries.Name-@fries.Size</h6>
					<p style="font-family: 'Comic Sans MS'; font-size:20px">@fries.Price ₺</p>
					<p>
						<h6>
							@if (User.IsInRole("Admin"))
							{
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Edit">Edit Fries</a>
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Delete">Delete Fries</a>
							}
							else if (User.IsInRole("User"))
							{
								<a class="btn btn-outline-warning button-container card-styles" style="font-family: 'Comic Sans MS'; font-size:16px; color:#B12103" asp-area="User" asp-controller="Order" asp-action="AddToCart" asp-route-id="@fries.Id" asp-route-name="fries">Add to Carts</a>
							}
						</h6>
					</p>
				</div>
			}
		}
	</main>
	@if (User.IsInRole("Admin"))
	{
		<br /><br />
		<div class="text-center">
			<a asp-action="Create" asp-controller="Fries" class="form-control btn btn-outline-success" style="font-family: 'Comic Sans MS'; font-size:20px"> Create New Fries</a>
		</div>
	}
	<br />
	<br />
	<br />
	<br />
</section>

