@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Fries>
@inject SignInManager<AppUser> signInManager
<style>
	#page {
		width: 100%;
		box-sizing: border-box;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: 100px auto 200px;
		grid-template-areas:
			"head head head head"
			"nav main main main"
			"foot foot foot foot";
	}

	main {
		grid-area: main;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		justify-content: space-between;
	}

	.kutu {
		perspective: 1000px; /* 3D efekti için perspektif değeri */
		transition: transform 1s ease;
		width: 200px;
		height: auto;
		box-shadow: 5px 5px 10px orange;
		margin: 20px;
	}

	main p {
		width: 100%;
		text-align: center;
		font-size: large;
		background-color: rgb(244, 147, 1);
		color: rgb(247,244,244);
		font-family: Aclonica serif;
		font-size: 25px;
	}


	div.kutu:hover {
		transform: rotateY(360deg) scale(1.2);
	}

	.card-styles {
		width: 100%;
		height: 50px;
		background-color: darkorange;
		color: red;
		cursor: pointer;
		font-family: Aclonica serif;
	}

	.btn.btn-outline-warning:hover {
		background-color: darkorange !important;
	}

	.btn.btn-outline-success:hover {
		background-color: darkolivegreen !important;
	}

	.btn.btn-outline-secondary.btn-block:hover {
		background-color: red !important;
	}

	.btn-outline-success:hover {
		background-color: darkolivegreen;
	}
</style>

<section id="page">
	<main>
		<p>Frieses</p>
		@foreach (Fries fries in Model)
		{
			<div class="kutu">
				<img src="/ProductsImages/Fries1/@fries.Photo" width="90" height="140" style="width: 100%" />
				<h6 style="text-align: center; font-family: Aclonica serif;">@fries.Name</h6>
				<p>@fries.Price ₺</p>
				<p>
					<h6>
						@if (User.IsInRole("Admin"))
						{
							<a class="btn btn-outline-warning button-container card-styles" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Edit">Edit Fries</a>
							<a class="btn btn-outline-warning button-container card-styles" asp-route-id="@fries.Id" asp-controller="Fries" asp-action="Delete">Delete Fries</a>
						}
						else if (User.IsInRole("User"))
						{
							<a class="btn btn-outline-warning button-container card-styles" asp-route-id="@fries.Id" value="Add to Carts" asp-controller="Order" asp-action="AddToCart" asp-route-name="fries">Add to Carts</a>
						}
					</h6>
				</p>
			</div>
		}
	</main>
	<div class="text-center">
		<a asp-action="Create" asp-controller="Fries" class="btn btn-outline-success"> New Create Fries</a>
	</div>
</section>

